<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script type="text/javascript" src="scripts.js"></script>
        <title>Account</title>
    </head>
    <body>
        <%- include('../components/navbar'); %>
        <br />
        <div style="margin-left: 10px">
            <h1>Willkommen <%= user.firstname %> <%= user.lastname %></h1>
            <br />
            <div style="font-size: 20px">
                <div>Account Details:</div>
                <div>User ID: <%= user.id %></div>
                <div>E-Mail: <%= user.email %></div>
                <div>Username: <%= user.username %></div>
                <div>Vorname: <%= user.firstname %></div>
                <div>Nachname: <%= user.lastname %></div>
            </div>
        </div>
        <%- include('../components/footer'); %>
    </body>
</html>
